<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rhinobot"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:targetSdkVersion="15" android:minSdkVersion="13"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
       
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ViewSourceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/view_source" />
        
        <activity android:name=".demo.Dots" android:label="Rhinobot Demo: Dots"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".demo.Dialogs" android:label="Rhinobot Demo: Dialogs"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>

</manifest>